body {
  color: #40514E;
  text-align: center;
}

/* .cloud1 {
  position:absolute;
  right: 200px;
} */
.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container {
  background-image: linear-gradient(#06283D, #1363DF, #47B5FF);
}

.myButton {
	box-shadow: -17px 9px 11px -3px #3dc21b;
	background-color:#44c767;
	border-radius:24px;
	border:5px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:18px 25px;
	text-decoration:none;
	text-shadow:-7px 10px 4px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {
   background: #2747E0;
   background-image: -webkit-linear-gradient(top, #2747E0, #57ADE8);
   background-image: -moz-linear-gradient(top, #2747E0, #57ADE8);
   background-image: -ms-linear-gradient(top, #2747E0, #57ADE8);
   background-image: -o-linear-gradient(top, #2747E0, #57ADE8);
   background-image: -webkit-gradient(to bottom, #2747E0, #57ADE8);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Tahoma;
   width: 193px;
   font-size: 30px;
   font-weight: 400;
   padding: 46px;
   -webkit-box-shadow: 1px 1px 7px 0 #171719;
   -moz-box-shadow: 1px 1px 7px 0 #171719;
   box-shadow: 1px 1px 7px 0 #171719;
   text-shadow: 0 10px 7px #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 2px;
   background: #97B6EC;
   background-image: -webkit-linear-gradient(top, #97B6EC, #1B62B2);
   background-image: -moz-linear-gradient(top, #97B6EC, #1B62B2);
   background-image: -ms-linear-gradient(top, #97B6EC, #1B62B2);
   background-image: -o-linear-gradient(top, #97B6EC, #1B62B2);
   background-image: -webkit-gradient(to bottom, #97B6EC, #1B62B2);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
    line-height: 2;
}

.skill_image {
  border-radius: 100%;
  width: 200px;
  height:200px;
  float:left;
}

hr {
  border: dotted 6px;
  border-bottom: 0;
  width: 4%;
  margin: 100px auto;
}
